@{
    ViewBag.Title = "O nama";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h3>Studenti računarstva na FSRE.</h3>
<ul>
    <li><p>Matej Stojić</p></li>
    <li><p>Klara Kovačić</p></li>
    <li><p>Filip Oroz</p></li>
    <li><p>Andrej Pejčinović</p></li>
    <li><p>Antun Lucijan Mandić</p></li>



</ul>
<hr />
<p><a href="https://github.com/fsr-pi/webapp-grupa10" target="_blank">Naš repozitorij </a></p>
